
body, .console {
    font-family: verdana;
    color: darkred;
    text-align: center;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/* Default styles */
.w-square {
    position: absolute;
    z-index: 1;
}

.w-entity {
    position: absolute;
    z-index: 2;
}

.w-world {
    position: relative;
}


/* Game specific styles */
.paddle {
    background-color: green;
    width: 70px;
    height: 10px;
}

.brick {
    background-color: red;
    width: 5px;
    height: 5px;
}

.ball {
    background-color: blue;
    width: 10px;
    height: 10px;
}

.world {
    border: 5px solid #dedede;
    display: inline-block;
    margin: 0 auto;
}

.square {
    width: 5px;
    height: 5px;
}

.game-over {
    display: none;
}

.game-over, .scores {
    font-size: 2em;
}