
body, .console {
    background-color: #404040;
    color: #dedede;
    text-align: center;
}

.container {
    width: 1000px;
    margin: 0 auto;
}


/* Default styles */
.w-square {
    position: absolute;
    z-index: 1;
}

.w-entity {
    position: absolute;
    z-index: 2;
}

.w-world {
    position: relative;
}


/* Game specific styles */
.grass {
    background-color: green;
}

.rock {
    background-color: gray;
}

.monster {
    width: 80px;
    height: 80px;
    z-index: 2;
}

.still-monster {
    width: 80px;
    height: 40px;
    z-index: 2;
}

.hero {
    background-color: white;
}

.console {
    margin-top: 20px;
    width: 414px;
    height: 63px;
}

.world {
    border: 5px solid #dedede;
    display: inline-block;
    margin: 0 auto;
}

.square, .hero {
    width: 10px;
    height: 10px;
}